<div class="modal-header">
<h4 class="modal-title">Product</h4>
<button type="button" class="close" aria-label="Close" (click)="onCancel()">
  <span aria-hidden="true">&times;</span>
</button>
</div>



<!--breyta í edit a product -->

<form name="userForm">
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="product.name" autofocus="" [readonly]="edit"  />
    </div>
    <div class="form-group">
      <label class="control-label">Price</label>
      <input type="text" class="form-control" name="price"  [(ngModel)]="product.price"  placeholder="enter price here"/>
    </div>
    <div class="form-group">
      <label class="control-label">quantityInStock</label>
      <input type="text" class="form-control" name="quantityInStock"  [(ngModel)]="product.quantityInStock"  placeholder="enter Stock quantity here"/>
    </div>
    <div class="form-group">
      <label class="control-label">Image url</label>
      <input type="text" class="form-control" name="imagePath" [(ngModel)]="product.imagePath" placeholder="enter url path here"/>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Close</button>
    <button type="button" class="btn btn-success" (click)="onOk()">OK</button>
  </div>
</form>
