<div class="container">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="float-right">
        <button class="btn  btn-outline-primary" (click)="addSeller()">Add a new seller</button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Name of seller</th>
            <th>Category</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody *ngFor="let s of sellerlist">
          <tr>
            <td><a class="text-primary" (click)="getSeller(s.id)">{{s.name}}</a></td>
            <td>{{s.category}}</td>
            <td><button class="btn  btn-outline-primary" (click)="editSeller(s)">Edit</button></td>
          </tr>
        </tbody>
      </table>


      <div *ngIf="sellerSelected">

        <h2>{{seller.name}}</h2>
        <h4>{{seller.category}}</h4>
        <img src="{{seller.imagePath}}" alt="Image of the seller" src-fallback="{{ workingPlaceholder }}" style="width: 250px; height:220px;" />

        <div class="float-right">
          <button class="btn  btn-outline-primary" (click)="addProduct()">Add a new Product</button>
        </div>

        <div [hidden]="!showProducts">
          <ngb-tabset>
            <ngb-tab>
              <template ngbTabTitle> <span (click)="changeToAll()"><b>All products</b></span></template>
              <template ngbTabContent>
                <div *ngFor="let p of sellerProduct">
                  <div class="col-sm-6 col-md-4 float-left">
                    <div class="thumbnail">
                      <img src="{{p.imagePath}}"  alt="Image of the product" src-fallback="{{ workingPlaceholder }}" (click)="editProduct(p)" style="width: 200px; height:200px;"/>
                    </div>

                    <div class="caption">
                      <h3>{{p.name}}</h3>
                      <p>price = {{p.price}}, sold = {{p.quantitySold}}</p>
                      <p>
                        <a href="#" class="btn btn-primary" (click)="editProduct(p)" role=" button">Edit</a>
                      </p>
                    </div>
                  </div>
                </div>
            </template>
            </ngb-tab>
            <ngb-tab>
              <template ngbTabTitle><span (click)="changeToTop10()"><b>Top 10</b></span></template>
              <template ngbTabContent>
                  <div *ngFor="let p of sellerProduct; let i = index">
                    <div *ngIf="i<10">


                  <div class="col-sm-6 col-md-4 float-left">
                      <div class="thumbnail">
                        <img src="{{p.imagePath}}" alt="Image of the product" src-fallback="{{ workingPlaceholder }}" (click)="editProduct(p)" style="width: 200px; height:200px;"/>
                      </div>

                      <div class="caption">
                        <h3>{{p.name}}</h3>
                        <p>price = {{p.price}}, sold = {{p.quantitySold}}</p>
                        <p>
                          <a href="#" class="btn btn-primary" (click)="editProduct(p)" role=" button">Edit</a>
                        </p>
                      </div>
                    </div>
                    </div>
                  </div>
            </template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        <div [hidden]="showProducts">
          <div class="alert alert-info">
            <strong>{{seller.name}}</strong> does not have any products.
          </div>
        </div>

      </div>
    </div>
  </div>
  <template ngbModalContainer></template>
