<div class="container">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="float-right">
        <button class="btn  btn-outline-primary" (click)="addSeller()">Add a new seller</button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Name of seller</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody *ngFor="let s of sellerlist">
          <tr>
            <td>{{s.name}}</td>
            <td>{{s.category}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<template ngbModalContainer></template>
